@layer app {
  div.main-layout {
    & header.events {
      h2 {
        background: var(--color-events);
      }
    }
  }
  .events-layout {
    & :focus-visible {
      background-color: var(--color-events-a125);
      outline: 1px solid var(--color-events);
    }

    & a.create {
      background-color: var(--color-events-a50);
      color: white;
    }

    & div.page {
      border-top: 0.25rem solid var(--color-events);

      & > h2 {
        background-color: var(--color-events);
      }
    }
  }
}
