@layer app {
  header.events {
    & h2 {
      background: var(--color-events);
    }
  }
  .events-layout {
    & :focus-visible {
      background-color: var(--color-events-a125);
      outline: 1px solid var(--color-events);
    }

    & a.create {
      background-color: var(--color-events-a50);
      color: white;
    }

    & div.page {
      & > h2 {
        background-color: var(--color-events);
      }
    }
  }

  footer.events {
    background-color: var(--color-events-a25);
    background-image: url(/img/wave-events-footer.svg);
    background-position: 10% 0;
    color: var(--color-events);
    padding-block: 33rem 0;
    & ul.elsewhere {
      & a {
        color: var(--color-events);
      }
    }
  }
}
