@layer app {
  .main-layout {
    & > header[role='banner'].home {
      min-height: 1rem;
    }
  }
  div.home {
    border-top: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 5rem;

    & figure {
      grid-column: 1/7;
      grid-row: 1/2;
      margin: 3rem 0;
      padding: 3rem;

      @media (--lg-n-below) {
        grid-column: 1/12;
      }
      @media (--md-n-below) {
        padding: 0;
      }

      & blockquote p {
        color: hsl(0, 0%, 100%);
        font-family: var(--font-serif);
        font-size: var(--text-size-6);
        font-style: normal;
        font-weight: var(--font-weight-semibold);
        margin: 0;
        text-shadow: 0 0 5px hsl(0, 0%, 0%);
      }
      & figcaption p {
        color: hsl(0, 0%, 100%);
        margin: 1rem 0 0 0;
        font-family: var(--font-sans-serif);
        font-size: 1.2rem;
        text-align: right;
        text-shadow: 0 0 5px hsl(0, 0%, 0%);
      }
    }
  }

  .about-me {
    background: oklch(var(--black-lch) / 0.75);
    border-bottom: 1rem solid oklch(var(--black-lch));
    color: hsl(0, 0%, 100%);
    display: flex;
    font-family: var(--font-sans-serif);
    grid-column: 5/13;
    grid-row: 2/3;
    margin-block: 5rem 10rem;
    padding: 3rem;

    &::before {
      content: '';
      background-image: url(/img/adam.webp);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-color: white;
      border-style: solid;
      border-width: 0.25rem;
      border-radius: 100%;
      box-shadow: 0 0 0.25rem hsla(0, 0%, 0%, 0.5);
      display: block;
      margin-inline: 0 2rem;
      height: 8rem;
      width: 8rem;
      flex: 0 0 8rem;
    }

    @media (--lg-n-below) {
      grid-column: 2/13;
      flex-direction: column;
    }

    & a {
      color: hsl(60, 100%, 50%);
    }

    & ul {
      margin: 2rem 0;
      padding: 0;
      & li {
        align-items: flex-start;
        display: flex;
        font-size: var(--text-size-2);
        gap: 2rem;
        margin-block: 0 0.75rem;
        margin-inline: 0;
        padding: 0;
        @media (--md-n-below) {
          flex-direction: column;
          gap: 0.25rem;
          margin-block: 0 1rem;
        }
      }
      & time {
        display: inline-block;
        flex: 0 0 8rem;
        margin: 0;
        padding: 0;
        @media (--md-n-below) {
          flex: auto;
        }
      }
    }

    & ul.elsewhere {
      margin-inline: auto 0;
      padding-block: 2rem 0;
    }
  }
}
