@layer app {
  header.notes {
    & h2 {
      background: var(--color-notes);
    }
  }
  .notes-layout {
    & :focus-visible {
      background-color: var(--color-notes-a125);
      outline: 1px solid var(--color-notes);
    }

    & a.create {
      background-color: var(--color-notes-a50);
      color: white;
    }

    & div.page {
      & > h2 {
        background-color: var(--color-notes);
      }
    }
  }

  footer.notes {
    background-color: var(--color-notes-a25);
    background-image: url(/img/wave-notes-footer.svg);
    background-position: 0 100%;
    color: var(--color-notes);
    padding-block: 33rem 0;
    & ul.elsewhere {
      & a {
        color: var(--color-notes);
      }
    }
  }
}
