@layer app {
  div.main-layout {
    & header.code {
      h2 {
        background: var(--color-code);
      }
    }
  }
  .code-layout {
    & :focus-visible {
      background-color: var(--color-code-a125);
      outline: 1px solid var(--color-code);
    }

    & a.create {
      background-color: var(--color-code-a50);
      color: white;
    }

    & div.page {
      border-top: 0.25rem solid var(--color-code);

      & > h2 {
        background-color: var(--color-code);
      }
    }
  }
}
