@layer app {
  .posts-layout {
    width: 100%;

    & :focus-visible {
      background-color: var(--color-posts-a125);
      outline: 1px solid var(--color-posts);
    }

    & a.create {
      background-color: var(--color-posts-a50);
      color: white;
    }

    & div.page {
      border-color: var(--color-posts);

      & > h2:first-of-type {
        background-color: var(--color-posts);
      }

      & a {
        &:hover {
          text-decoration: underline;
        }
        &:link,
        &:visited,
        &:hover {
          color: var(--color-posts);
        }
      }
    }

    & main {
      & h1,
      & h2,
      & h3,
      & h4,
      & h5,
      & h6 {
        color: var(--color-posts);
      }
    }

    & main,
    & aside {
      margin-block: 1rem;
    }

    & ul.paginated {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      margin-block: 0;
      margin-inline: 0;
      padding: 0;

      @media (--md-n-below) {
        grid-template-columns: 1fr;
      }

      & li {
        border-top: 0.25rem solid var(--color-posts-a25);
        display: block;
        margin: 0;
        padding: 1rem;
      }

      & h3 {
        margin: 0;
      }
    }

    pre {
      background: var(--color-posts);
      border-radius: var(--radius-3);
      color: var(--color-white);
      font-size: var(--text-size-1);
      padding: 0.75rem;
    }
  }
}
