@layer app {
  .posts-layout {
    width: 100%;

    & nav.page {
      background: linear-gradient(
        to right,
        transparent,
        var(--color-posts-a50) 25%
      );
    }

    & :focus-visible {
      background-color: var(--color-posts-a125);
      outline: 1px solid var(--color-posts);
    }

    & a.create {
      background-color: var(--color-posts-a50);
      color: white;
    }

    & div.page {
      border-color: var(--color-posts);

      & > h2 {
        color: var(--color-posts);
      }

      & a {
        &:hover {
          text-decoration: underline;
        }
        &:link,
        &:visited,
        &:hover {
          color: var(--color-posts);
        }
      }
    }

    & ul.paginated {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      margin-block: 2rem;
      margin-inline: 0;
      padding: 0;

      @media (--lg-n-below) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (--md-n-below) {
        grid-template-columns: 1fr;
      }

      & li {
        border-top: 0.25rem solid var(--color-posts-a25);
        display: block;
        margin: 0;
        padding: 1rem;
      }

      & h3 {
        margin: 0;
      }
    }

    & form {
      & .label {
        color: var(--color-posts);
      }

      & input[type='text'],
      & input[type='number'],
      & input[type='date'],
      & input[type='datetime-local'],
      & select,
      & .text-editor .tiptap,
      & .code-editor {
        border-color: var(--color-posts);
      }
    }

    pre {
      background: hsl(0, 0%, 95%);
      border: 1px solid hsl(0, 0%, 90%);
      padding: 0.5rem;
    }
  }
}
