@layer app {
  div.main-layout {
    & header.links {
      h2 {
        background: var(--color-links);
      }
    }
  }
  .links-layout {
    & :focus-visible {
      background-color: var(--color-links-a125);
      outline: 1px solid var(--color-links);
    }

    & a.create {
      background-color: var(--color-links-a50);
      color: white;
    }

    & div.page {
      & > h2 {
        background-color: var(--color-links);
      }
    }

    & ul.links.paginated {
      margin: 0;
      padding: 0;
      & > li {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0 0 2rem 0;
        padding: 0;
        &:has(time) {
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          & > ul {
            grid-column: 4/13;
          }
        }
        margin-block: 0 3rem;
        & > time {
          border-right: 1px solid var(--color-links-a50);
          color: var(--color-links-a50);
          display: block;
          font-family: var(--font-sans-serif);
          font-size: var(--text-size-4);
          grid-column: 1/4;
          line-height: 1.2;
          padding: 0 2rem 0 0;
          text-align: right;
          @media (--md-n-below) {
            font-size: var(--text-size-2);
          }
        }
        & > ul {
          margin: 0;
          padding: 0;
          & > li {
            list-style: none;
            margin-block: 0 2rem;
          }
          & h3 {
            margin: 0;
            & a[href^='http']::before {
              content: '' !important;
              margin-inline: 0 !important;
            }
          }
          & li > div {
            & p {
              margin-block: 0 1rem;
            }
            & li {
              & > a {
                font-family: var(--font-serif);
                font-size: var(--text-size-1);
                font-weight: var(--font-weight-normal);
              }
            }
          }
          & nav.tags {
            & a {
              background: var(--color-links-a25);
              color: var(--color-links);
            }
            & b {
              background: var(--color-links);
              color: var(--color-white);
            }
            & a,
            & b {
              border-radius: var(--radius-2);
            }
          }
        }
      }
    }

    & menu.tag-index {
      & a {
        background: var(--color-links-a25);
        border-radius: var(--radius-2);
        color: var(--color-links);
        text-decoration: none;
      }
    }

    & menu.days,
    & menu.value-index {
      & .bar {
        border: 1px solid var(--color-links-a50);
        background: var(--color-links-a25);
      }
      & b {
        color: var(--color-links-a50);
      }
    }
  }
}
