@layer app {
  .links-layout {
    & nav.page {
      background: linear-gradient(
        to right,
        transparent,
        var(--color-links-a50) 25%
      );
    }
    & :focus-visible {
      background-color: var(--color-links-a125);
      outline: 1px solid var(--color-links);
    }

    & a.create {
      background-color: var(--color-links-a50);
      color: white;
    }

    & div.page {
      border-top: 0.25rem solid var(--color-links);

      & > h2 {
        color: var(--color-links);
      }
    }

    & ul.links.paginated {
      margin-block: 2rem;
      margin-inline: 0;
      padding: 0;
      width: 100%;
      & ul,
      & li {
        margin: 0;
        padding: 0;
      }
      & li {
        list-style: none;
      }
      & > li {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(12, 1fr);
        margin-block: 0 2rem;
        & > time {
          border-right: 1px solid var(--color-links-a50);
          color: var(--color-links-a50);
          display: block;
          font-family: var(--font-sans-serif);
          font-size: var(--text-size-4);
          grid-column: 1/4;
          padding-inline: 0 2rem;
          text-align: right;
        }
        & ul {
          grid-column: 4/13;
          & > li {
            margin-block: 0 2rem;
          }
          & li > a {
            font-family: var(--font-sans-serif);
            font-size: var(--text-size-3);
            font-weight: var(--font-weight-bold);
            text-decoration: none;
            &[href^='http']::before {
              content: '' !important;
              margin-inline: 0 !important;
            }
          }
          & li > div {
            & p {
              margin-block: 0 1rem;
            }
          }
        }
      }
    }

    & form {
      & .label {
        color: var(--color-links);
      }

      & input[type='text'],
      & input[type='number'],
      & input[type='date'],
      & input[type='datetime-local'],
      & select,
      & .text-editor .tiptap,
      & .code-editor {
        border-color: var(--color-links);
      }
    }
  }
}
