@layer app {
  header.labs {
    & h2 {
      background: oklch(var(--red-lch));
    }
  }

  .labs-layout {
    & :focus-visible {
      background-color: oklch(var(--red-lch) / 0.125);
      outline: 1px solid oklch(var(--red-lch));
    }

    & div.page {
      & > h2 {
        color: oklch(var(--red-lch) / 0.5);
      }

      & ul.labs.paginated {
        margin: 0;
        padding: 0;
        & > li {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          margin-block: 0 2rem;
          margin-inline: 0;
          padding: 0;
          @media (--md-n-above) {
            &:has(time) {
              display: grid;
              grid-template-columns: repeat(12, 1fr);
              & > ul {
                grid-column: 4/13;
              }
            }
          }
          & > time {
            border-right: 1px solid oklch(var(--red-lch) / 0.5);
            color: oklch(var(--red-lch) / 0.5);
            display: block;
            font-family: var(--font-sans-serif);
            font-size: var(--text-size-2);
            grid-column: 1/4;
            line-height: 1.2;
            padding: 0 2rem 0 0;
            text-align: right;
            @media (--md-n-below) {
              border-right: 0;
              font-size: var(--text-size-2);
              text-align: left;
            }
          }
          & > ul {
            margin: 0;
            padding: 0;
            & > li {
              list-style: none;
              margin-block: 0 2rem;
            }
            & h4 {
              display: inline;
              margin-block: 0;
              & a[href^='http']::before {
                content: '' !important;
                margin-inline: 0 !important;
              }
            }
            & h5.group {
              border-radius: var(--radius-2);
              display: inline-block;
              font-family: var(--font-sans-serif);
              font-size: var(--text-size-02);
              font-weight: var(--font-weight-semibold);
              line-height: 1.6;
              margin: 0.375rem 0 1rem 1rem;
              padding-inline: 0.5rem;
              text-transform: uppercase;
              vertical-align: top;
              width: fit-content;
            }
            & li > div {
              & p {
                margin-block: 0 1rem;
              }
              & li {
                & > a {
                  font-family: var(--font-serif);
                  font-size: var(--text-size-1);
                  font-weight: var(--font-weight-normal);
                }
              }
            }
          }
        }
      }

      & nav.tags,
      & menu.tag-index {
        & a {
          background: oklch(var(--red-lch) / 0.25);
          text-decoration: none;
          &:link,
          &:visited {
            color: oklch(var(--black-lch)) !important;
          }
        }
        & b {
          background: oklch(var(--red-lch));
          color: oklch(var(--white-lch));
        }
        & a,
        & b {
          border-radius: var(--radius-2);
        }
      }

      & menu.days,
      & menu.value-index {
        & .bar {
          border: 1px solid oklch(var(--red-lch) / 0.5);
          background: oklch(var(--red-lch) / 0.25);
        }
        & b {
          color: oklch(var(--red-lch) / 0.5);
        }
      }
    }
  }

  .main-layout {
    & > footer.labs {
      background: oklch(var(--red-lch) / 0.75);
      box-shadow: inset 0 0 0.5rem 0.5rem oklch(var(--black-lch) / 0.25);
      & p,
      & a {
        color: oklch(var(--white-lch));
      }
    }
  }
}
