@layer app {
  header.labs {
    & h2 {
      background: var(--color-labs);
    }
  }
  .labs-layout {
    & :focus-visible {
      background-color: var(--color-labs-a125);
      outline: 1px solid var(--color-labs);
    }

    & a.create {
      background-color: var(--color-labs-a50);
      color: white;
    }

    & div.page {
      & > h2 {
        color: var(--color-labs-a50);
      }
    }
  }

  footer.labs {
    background-color: var(--color-labs-a25);
    background-position: 90% 0;
    color: var(--color-labs);
    padding-block: 33rem 0;
    & ul.elsewhere {
      & a {
        color: var(--color-labs);
      }
    }
  }
}
