@layer app {
  header.labs {
    & h2 {
      background: var(--color-labs);
    }
  }
  .labs-layout {
    & :focus-visible {
      background-color: var(--color-labs-a125);
      outline: 1px solid var(--color-labs);
    }

    & a.create {
      background-color: var(--color-labs-a50);
      color: white;
    }

    & div.page {
      & > h2 {
        background-color: var(--color-labs);
      }
    }
  }
}
