@layer reset, elements, component, third-party, app;

@layer reset {
  * {
    box-sizing: border-box;
  }
  button {
    -webkit-appearance: none;
    appearance: none;
    align-items: center;
    background-color: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    padding: 0.125rem 0.5rem;
    text-align: inherit;

    &:disabled {
      cursor: not-allowed;
    }
  }

  :focus {
    outline: 0;
  }

  :focus-visible {
    outline: 2px solid var(--blue-400);
  }

  :disabled {
    cursor: not-allowed !important;
  }
  .disabled {
    cursor: not-allowed !important;
  }

  ::placeholder {
    color: var(--form-placeholder-fg-color);
    font-weight: var(--font-weight-light);
    opacity: 0.54;
  }
  .placeholder {
    color: var(--form-placeholder-fg-color);
    font-weight: var(--font-weight-light);
    opacity: 0.54;
  }
}

@layer elements {
  body {
    background-attachment: fixed;
    background-color: transparent;
    background-image: url('/img/misty-mountains.webp');
    background-size: cover;
    background-position: 0% 62%;
    background-repeat: no-repeat;
    color: hsl(0, 0%, 30%);
    font-family: var(--font-serif);
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  button {
    cursor: pointer;
    font-family: var(--font-sans-serif);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  time {
    font-family: var(--font-sans-serif);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    & a {
      text-decoration: none;
    }
  }

  main {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      font-family: var(--font-serif);
      line-height: 1.2;
    }
    & h2 {
      font-size: var(--text-size-5);
    }
    & h3 {
      font-size: var(--text-size-4);
    }
    & h4 {
      font-size: var(--text-size-3);
    }
    & h5 {
      font-size: var(--text-size-2);
    }
    & h6 {
      font-size: var(--text-size-1);
    }

    p,
    li {
      font-size: var(--text-size-2);
    }
  }

  blockquote {
    & p {
      font-style: italic;
      font-weight: 400;
    }
  }

  a[href^='http'] {
    &:before {
      content: '\1F517';
      display: inline-block;
      margin-inline: 0 0.25rem;
    }
  }
}

@layer app {
  button {
    &.primary {
      background-color: var(--color-primary);
      color: white;
      font-weight: 700;
    }
    &.secondary {
      background-color: var(--color-secondary);
      color: var(--color-primary);
    }
    &.tertiary {
      background-color: var(--color-tertiary);
      color: var(--color-primary);
    }
    &.danger {
      background-color: var(--color-danger);
      color: white;
    }
  }

  nav {
    & a {
      font-family: var(--font-sans-serif);
      padding-inline: 0.5rem;
      text-decoration: none;
    }
    & > .divider {
      background-color: hsl(0, 0%, 0%);
      display: block;
      height: 1rem;
      width: 1px;
    }
  }

  div.main-layout {
    border-top: 0.5rem solid var(--color-primary);
    & > header {
      align-items: flex-start;
      border-radius: 0.5rem;
      display: flex;
      margin: 0 0 1rem 0;
      min-height: 20rem;
      padding-block: 0;

      @media (--md-n-below) {
        min-height: 10rem;
      }

      & > hgroup {
        align-items: center;
        display: flex;
        margin-left: 5dvw;
      }
      & h1,
      & h2 {
        color: white;
        font-family: var(--font-sans-serif);
        font-size: var(--text-size-1);
        margin: 0;
        padding: 0.5rem 1rem;
        text-transform: lowercase;
      }
      & h1 {
        background-color: var(--color-primary);
        font-weight: 300;
      }
      & h2 {
        align-items: center;
        display: flex;
        font-weight: 700;
        padding-inline: 0.5rem 2rem;
      }
      &.posts h2 {
        background: var(--color-posts);
      }
      &.notes h2 {
        background: var(--color-notes);
      }
      &.code h2 {
        background: var(--color-code);
      }
      &.links h2 {
        background: var(--color-links);
      }
      &.labs h2 {
        background: var(--color-labs);
      }
      &.events h2 {
        background: var(--color-events);
      }

      & nav.secondary {
        background: linear-gradient(
          to right,
          transparent,
          hsl(0, 0%, 100%) 25%
        );
        display: flex;
        margin-inline: auto 5dvw;
        padding-block: 0;
        padding-inline: 6rem 0;

        @media (--md-n-below) {
          display: none;
        }

        &:after {
          align-items: center;
          background-color: var(--color-primary);
          color: white;
          content: '\2318';
          display: block;
          font-size: 1.25rem;
          justify-content: center;
          padding: 0.25rem 1rem;
        }
        & menu {
          display: flex;
          margin: 0.5rem;
          padding: 0;
          & li {
            align-items: center;
            display: flex;
            margin: 0;
            padding: 0;
            text-transform: lowercase;
            & a {
              color: var(--color-primary);
              margin: 0;
              padding: 0rem 1rem;
              &:active,
              &:hover {
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    & nav.page {
      align-items: center;
      background: linear-gradient(
        to right,
        transparent,
        var(--color-primary) 45%
      );
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      margin: 0 5dvw 0 auto;
      padding-block: 0.5rem;
      padding-inline: 9rem 0.5rem;
      position: sticky;
      top: 0;
      width: fit-content;

      @media (--md-n-below) {
        gap: 0.5rem;
        padding-block: 0.4rem;
        padding-inline: 6rem 0.375rem;
      }

      & a {
        display: block;
        &:link,
        &:visited {
          color: white;
        }
        &:hover,
        &:active {
          font-weight: 600;
        }
        &.active {
          color: rgba(240, 229, 125);
        }
      }

      & input[type='search'] {
        background-color: white;
        border: 1px solid var(--color-primary);
        padding: 0.25rem 0.25rem;
      }
    }

    & div.page {
      background-color: hsla(0, 0%, 100%, 0.95);
      border-style: solid;
      border-width: 0.5rem 0 0.0625rem 0;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 3.5rem auto;
      margin: 0 0 10rem 0;
      min-height: 100dvh;
      padding-block: 0 1rem;
      padding-inline: 5dvw;

      & > h2:first-of-type {
        border-bottom: 0.5rem solid var(--color-primary);
        color: var(--color-white);
        font-family: var(--font-sans-serif);
        font-size: var(--text-size-8);
        font-weight: 700;
        grid-column: 1/13;
        grid-row: 1/2;
        line-height: 1;
        margin: 0;
        padding: 0 1rem;
        text-transform: uppercase;
        pointer-events: none;

        @media (--md-n-below) {
          font-size: var(--text-size-11);
        }
      }

      & > main {
        grid-column: 1/9;
        grid-row: 2/2;
      }

      & > aside {
        display: block;
        grid-column: 9/13;
        grid-row: 2/3;
      }

      & article {
        & header {
          & h1 {
            font-size: var(--text-size-12);
            margin-block: 1rem;
          }
        }

        & section.abstract {
          border-bottom: 1px solid hsl(0, 0%, 25%);
          margin-block: 1rem 3rem;
        }
      }
    }

    & form {
      & .form-grid {
        display: grid;
        column-gap: 2rem;
        row-gap: 2rem;

        & label {
          display: grid;
          font-family: var(--font-sans-serif);
          font-size: var(--text-size-01);
          gap: 0.5rem;
          line-height: 1;

          &.horizontal {
            flex-direction: row;
          }
          &.vertical {
            flex-direction: column;
          }
        }

        & input[type='text'],
        & input[type='number'],
        & input[type='date'],
        & input[type='datetime-local'],
        & select,
        & .text-editor .tiptap {
          font-family: var(--font-sans-serif);
          font-size: var(--text-size-1);
          margin: 0;
          padding: 0.5rem;
        }
        & input[type='text'],
        & input[type='number'],
        & input[type='date'],
        & input[type='datetime-local'],
        & select,
        & .text-editor .tiptap,
        & .code-editor {
          background-color: white;
          border-radius: var(--radius-3);
          border-style: solid;
          border-width: 1px;
        }
        & .cm-editor,
        & .cm-scroller {
          border-radius: var(--radius-3);
        }
      }

      & .label {
        font-family: var(--font-sans-serif);
        font-weight: 400;
      }

      & footer {
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        margin-block: 2rem;

        & button {
          border-radius: 0.25rem;
          padding: 0.5rem 1rem;
        }

        & button:first-of-type {
          margin-inline: 0 auto;
        }
      }
    }

    & > footer {
      p#copyright {
        display: block;
        font-family: var(--font-sans-serif);
        margin-block: 2rem 5rem;
        margin-inline: auto;
        text-align: center;
        text-shadow: 0 0 0.25rem hsl(0, 0%, 100%);
        width: max-content;
        & a {
          color: var(--color-black);
          font-weight: var(--font-weight-normal);
        }
      }
      & nav {
        align-items: center;
        background: linear-gradient(
          to left,
          transparent 0%,
          rgba(240, 229, 125, 0.5) 10%,
          rgb(202, 165, 69) 50%,
          rgba(240, 229, 125, 0.5) 90%,
          transparent 100%
        );
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 5dvw;
        line-height: 1;
        padding: 1px 0 0 0;
        position: fixed;
        right: 5dvw;

        @media (--md-only) {
          left: 0;
          right: 0;
        }

        &:before {
          background: linear-gradient(
            to left,
            transparent 10%,
            rgb(51, 51, 51) 50%,
            transparent 90%
          );
          content: '';
          margin: 0;
          height: 1px;
          position: absolute;
          top: 0;
          width: 100%;
        }
        & > span {
          align-items: center;
          display: flex;
          width: 18rem;

          &:first-of-type {
            justify-content: flex-end;
          }
          &:last-of-type {
            justify-content: flex-start;
          }
        }
        & a {
          display: block;
          margin: 0;
          padding: 0.5rem 1rem;
          position: relative;
          text-decoration: none;

          @media (--sm-n-below) {
            font-size: var(--text-size-02);
            padding: 0.5rem;
          }

          &:link,
          &:visited {
            color: var(--color-primary);
          }
          &.active,
          &:active {
            color: white;
          }

          &.posts {
            &:not(.active):hover {
              color: var(--color-posts);
            }
            &.active {
              background-color: var(--color-posts);
            }
          }
          &.notes {
            &:not(.active):hover {
              color: var(--color-notes);
            }
            &.active {
              background-color: var(--color-notes);
            }
          }
          &.code {
            &:not(.active):hover {
              color: var(--color-code);
            }
            &.active {
              background-color: var(--color-code);
            }
          }
          &.home {
            background-color: var(--color-home);
            border-top: 3px solid rgb(0, 127, 204);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin-top: calc(-0.5rem - 3px);
            padding: 0.75rem 2rem;
            color: white;
          }
          &.links {
            &:not(.active):hover {
              color: var(--color-links);
            }
            &.active {
              background-color: var(--color-links);
            }
          }
          &.labs {
            &:not(.active):hover {
              color: var(--color-labs);
            }
            &.active {
              background-color: var(--color-labs);
            }
          }
          &.events {
            &:not(.active):hover {
              color: var(--color-events);
            }
            &.active {
              background-color: var(--color-events);
            }
          }
        }
      }
    }
  }
}
