@layer reset {
  :root {
    overscroll-behavior: none;
  }
  * {
    box-sizing: border-box;
  }
  button {
    -webkit-appearance: none;
    appearance: none;
    align-items: center;
    background-color: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    padding: 0.125rem 0.5rem;
    text-align: inherit;

    &:disabled {
      cursor: not-allowed;
    }
  }

  :focus {
    outline: 0;
  }

  :focus-visible {
    outline: 2px solid var(--blue-400);
  }

  :disabled {
    cursor: not-allowed !important;
  }
  .disabled {
    cursor: not-allowed !important;
  }

  ::placeholder {
    color: var(--form-placeholder-fg-color);
    font-weight: var(--font-weight-light);
    opacity: 0.54;
  }
  .placeholder {
    color: var(--form-placeholder-fg-color);
    font-weight: var(--font-weight-light);
    opacity: 0.54;
  }
}

@layer elements {
  body {
    background-attachment: fixed;
    background-color: oklch(var(--white-lch));
    background-image: url('/img/mountain-steps.webp');
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    color: oklch(var(--black-lch));
    font-family: var(--font-serif);
    font-size: 1rem;
    margin: 0;
    padding: 0;

    @media (--lg-n-below) {
      background-position: 25% 75%;
    }
  }

  button {
    cursor: pointer;
    font-family: var(--font-sans-serif);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  menu,
  nav,
  select {
    font-family: var(--font-sans-serif);
    line-height: 1.2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    & a {
      text-decoration: none;
    }
  }

  p,
  li {
    font-size: 1rem;
  }

  main {
    padding-block: 0 5rem;
    & h2 {
      font-size: var(--text-size-5);
    }
    & h3 {
      font-size: var(--text-size-4);
    }
    & h4 {
      font-size: var(--text-size-3);
    }
    & h5 {
      font-size: var(--text-size-2);
    }
    & h6 {
      font-size: var(--text-size-1);
    }
  }

  blockquote {
    & p {
      font-style: italic;
      font-weight: 400;
    }
  }

  a[href^='http'] {
    &:before {
      content: '\1F517';
      display: inline-block;
      margin-inline: 0 0.25rem;
    }
  }

  summary {
    cursor: pointer;
  }
}

@layer app {
  nav {
    & a {
      display: inline-block;
      padding-inline: 0.5rem;
      text-decoration: none;
    }
    & > .divider {
      background-color: hsl(0, 0%, 100%);
      display: block;
      height: 1rem;
      width: 1px;
    }

    &:has(input[type='search']) {
      & form {
        margin-inline: 1rem 0;
      }
      & input[type='search'] {
        transition: width 0.5s;
        width: 10rem;
        &:focus {
          width: 20rem;
        }
      }
    }

    &:has(input[type='search']:focus) {
      & form {
        margin-inline: 0;
      }
      & a,
      & > .divider {
        display: none;
      }
    }
  }

  .main-layout {
    border-top: 0.5rem solid oklch(var(--black-lch));
    & header[role='banner'] {
      align-items: flex-start;
      border-radius: 0.5rem;
      display: flex;
      margin: 0;
      min-height: 20rem;
      padding-block: 0;

      @media (--md-n-below) {
        min-height: 10rem;
      }

      & hgroup {
        align-items: center;
        display: flex;
        margin-left: 5dvw;
      }
      & h1,
      & h2 {
        color: oklch(var(--white-lch));
        font-family: var(--font-sans-serif);
        font-size: var(--text-size-1);
        margin: 0;
        padding: 0.5rem 1rem;
        text-transform: lowercase;
      }
      & h1 {
        background: oklch(var(--black-lch));
        & a {
          color: oklch(var(--white-lch));
        }
      }
      & h2 {
        align-items: center;
        display: flex;
        font-weight: 700;
        padding-inline: 0.5rem 2rem;
      }

      & nav.secondary {
        background: oklch(var(--white-lch));
        display: flex;
        margin-inline: auto 5dvw;
        padding-block: 0;
        padding-inline: 0;

        @media (--md-n-below) {
          display: none;
        }

        &:after {
          align-items: center;
          background-color: oklch(var(--black-lch));
          color: oklch(var(--white-lch));
          content: '\2318';
          display: block;
          font-size: 1.25rem;
          justify-content: center;
          padding: 0.25rem 1rem;
        }
        & menu {
          display: flex;
          margin: 0.5rem;
          padding: 0;
          & li {
            align-items: center;
            display: flex;
            margin: 0;
            padding: 0;
            text-transform: lowercase;
            & a {
              color: oklch(var(--black-lch));
              margin: 0;
              padding: 0rem 1rem;
              &:before {
                content: '';
              }
              &:active,
              &:hover {
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    & nav.page {
      align-items: center;
      background: oklch(var(--black-lch));
      display: flex;
      gap: 0.5rem;
      justify-content: flex-end;
      margin-inline: auto 5dvw;
      margin-block: -4rem 0;
      padding-block: 0.5rem;
      padding-inline: 0.5rem;
      position: sticky;
      top: 0;
      width: fit-content;

      @media (--md-n-below) {
        font-size: var(--text-size-02);
        gap: 0.25rem;
        padding-block: 0.375rem;
        padding-inline: 0.375rem;
      }

      & a {
        &:link,
        &:visited {
          color: oklch(var(--white-lch));
        }
        &:hover,
        &:active {
          font-weight: 600;
        }
        &.active {
          color: oklch(var(--yellow-lch));
        }
      }

      & input[type='search'] {
        background-color: oklch(var(--white-lch));
        border: 1px solid oklch(var(--black-lch));
        font-size: var(--text-size-1);
        line-height: 1.5;
        padding: 0 0.5rem;
      }
    }

    & div.page {
      align-items: start;
      background: oklch(var(--white-lch));
      border-top: 0.25rem solid oklch(var(--black-lch));
      display: grid;
      gap: 2rem;
      grid-auto-flow: row;
      grid-auto-rows: min-content;
      grid-template-columns: repeat(12, 1fr);
      margin: 0;
      min-height: 60rem;
      padding-block: 0 1rem 10rem 1rem;
      padding-inline: 5dvw;

      & a {
        &:link,
        &:visited {
          color: oklch(var(--blue-lch));
        }
        &:hover,
        &:active {
          color: oklch(var(--black-lch));
        }
      }

      & > h2:first-of-type {
        font-family: var(--font-sans-serif);
        font-size: var(--text-size-8);
        font-weight: 700;
        grid-column: 1/13;
        line-height: 1;
        margin-block: 1rem 0;
        padding: 1rem 1rem 0 1rem;
        text-transform: uppercase;
        pointer-events: none;

        @media (--md-n-below) {
          font-size: var(--text-size-11);
          padding-block: 1rem;
          padding-inline: 0;
        }
      }

      &.archive {
        & > nav:first-of-type {
          grid-column: 1/13;
          padding-inline: 1rem;
          & ul {
            display: flex;
            gap: 0.5rem;
            margin: 0;
            padding: 0;
          }
          & li {
            display: block;
            list-style: none;
            &::after {
              content: '/';
              margin-left: 0.5rem;
            }
            &:last-of-type::after {
              content: '';
              margin-left: 0;
            }
          }
          & a {
            display: inline-block;
            margin: 0;
            padding: 0;
          }
        }

        & menu.matrix {
          font-family: var(--font-sans-serif);
          &,
          & menu,
          & li {
            margin-block: 0;
            margin-inline: 0;
            padding-block: 0;
            padding-inline: 0;
          }
          & menu.months {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-block: 1rem 0;
          }
          & menu.days {
            display: grid;
            gap: 0.5rem;
            grid-template-columns: repeat(31, 2rem);
            white-space: nowrap;
            & li {
              align-items: center;
              color: oklch(var(--black-lch));
              display: flex;
              flex-direction: column;
              & .bar {
                min-width: 1ch;
              }
            }
            & a {
              display: flex;
              flex-direction: column;
              font-weight: var(--font-weight-bold);
            }
          }
          & li {
            list-style: none;
          }
          & h3 {
            font-size: var(--text-size-6) !important;
            margin-block: 0;
          }
          & h4 {
            font-size: var(--text-size-2) !important;
            margin-block: 0 0.5rem;
          }
          & a {
            text-decoration: none;
          }
        }
      }

      & > main {
        grid-column: 1/9;
        @media (--md-n-below) {
          grid-column: 1/13;
        }
        &.full-width {
          grid-column: 1/13;
        }
        & nav.tags {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: flex-end;
          & a,
          & b {
            display: block;
            font-family: var(--font-sans-serif);
            font-weight: normal;
            margin: 0;
            padding: 0 0.5rem;
            white-space: nowrap;
          }
        }
      }

      & > aside {
        display: block;
        @media (--md-n-below) {
          display: none;
        }
        font-family: var(--font-sans-serif);
        grid-column: 9/13;
        padding-inline: 2rem 0;
        & h4 {
          font-size: var(--text-size-4);
          margin: 0 0 1rem 0;
        }
        & h5 {
          font-size: var(--text-size-3);
          margin-block: 1rem 0.5rem;
        }
        & summary {
          font-size: var(--text-size-2);
        }
        & menu {
          display: block;
          margin: 0.5rem auto 1rem 1rem;
          padding-block: 0 1rem;
          padding-inline: 0;
          & li {
            color: oklch(var(--black-lch) / 0.5);
            list-style: none;
            margin-block: 0 0.3875rem;
            margin-inline: 0;
            padding-block: 0;
            padding-inline: 0;
            & > span {
              display: flex;
              gap: 0.5rem;
            }
            & b {
              color: oklch(var(--black-lch));
            }
          }
          & a {
            text-decoration: none;
          }
        }
      }
    }

    & menu {
      & li {
        font-family: var(--font-sans-serif);
        list-style: none;
      }
      &.tag-index {
        --min: 30ch;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(
          auto-fit,
          minmax(min(100%, var(--min)), 1fr)
        );
        margin: 1rem;
        padding: 0;

        & li {
          margin: 0;
          padding: 0;
        }

        & a {
          padding: 0.25rem 0.5rem;
        }
      }

      &.value-index {
        display: grid;
        gap: 0.5rem;
        & li {
          display: grid;
          grid-template-columns: 5rem 5rem 1fr;
        }
      }
    }

    & form {
      & .form-grid {
        display: grid;
        column-gap: 2rem;
        row-gap: 2rem;

        & label {
          display: grid;
          font-family: var(--font-sans-serif);
          font-size: var(--text-size-01);
          gap: 0.5rem;
          line-height: 1;

          &.horizontal {
            flex-direction: row;
          }
          &.vertical {
            flex-direction: column;
          }
        }

        & input[type='text'],
        & input[type='number'],
        & input[type='date'],
        & input[type='datetime-local'],
        & select,
        & .text-editor .tiptap {
          font-family: var(--font-sans-serif);
          font-size: var(--text-size-1);
          margin: 0;
          padding: 0.5rem;
        }
        & input[type='text'],
        & input[type='number'],
        & input[type='date'],
        & input[type='datetime-local'],
        & select,
        & .text-editor .tiptap,
        & .code-editor {
          background-color: oklch(var(--white-lch));
          border-radius: var(--radius-3);
          border-style: solid;
          border-width: 1px;
        }
        & .cm-editor,
        & .cm-scroller {
          border-radius: var(--radius-3);
        }
      }

      & .label {
        font-family: var(--font-sans-serif);
        font-weight: 400;
      }

      & footer {
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        margin-block: 2rem;

        & button {
          border-radius: 0.25rem;
          padding: 0.5rem 1rem;
        }

        & button:first-of-type {
          margin-inline: 0 auto;
        }
      }
    }

    & > footer {
      & ul.elsewhere {
        display: flex;
        gap: 1rem;
        margin-block: 0;
        margin-inline: auto;
        padding: 5rem 0 2rem 0;
        width: max-content;
        & li {
          display: block;
          margin: 0;
          padding: 0;
        }
        & a {
          &::before {
            content: '' !important;
          }
        }
      }
      & p {
        align-items: center;
        color: white;
        display: flex;
        font-family: var(--font-sans-serif);
        gap: 1rem;
        margin-block: 0;
        margin-inline: auto;
        padding-block: 2rem;
        text-align: center;
        width: max-content;
        &:last-of-type {
          padding-block: 2rem 7rem;
        }
        & small {
          & a {
            color: oklch(var(--white-lch));
            display: inline !important;
            &::before {
              content: '' !important;
              margin: 0 !important;
            }
          }
        }
      }
      & nav {
        align-items: center;
        background: linear-gradient(
          to left,
          transparent 0%,
          oklch(var(--yellow-lch) / 0.5) 10%,
          oklch(var(--yellow-lch)),
          oklch(var(--yellow-lch) / 0.5) 90%,
          transparent 100%
        );
        border-bottom: 1.5rem solid oklch(var(--black-lch));
        bottom: 0;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100dvw;

        &:before {
          background: linear-gradient(
            to left,
            transparent 0%,
            oklch(var(--black-lch)) 50%,
            transparent 100%
          );
          content: '';
          margin: 0;
          height: 1px;
          position: absolute;
          top: 0;
          width: 100%;
        }

        & a.home {
          background-color: oklch(var(--black-lch));
          border-top: 3px solid oklch(var(--black-lch) / 0.125);
          border-radius: var(--radius-3) var(--radius-3) 0 0;
          box-shadow: 0 0 0.75rem oklch(var(--black-lch) / 0.5);
          margin-top: calc(-0.5rem - 3px);
          padding: 0.75rem 2rem;
          color: oklch(var(--white-lch));
        }

        & menu {
          align-items: center;
          display: flex;
          margin: 0;
          padding: 0;
          width: 40dvw;

          &:first-of-type {
            justify-content: flex-end;
          }
          &:last-of-type {
            justify-content: flex-start;
          }

          & > span {
            align-items: center;
            display: flex;
            width: 18rem;

            &:first-of-type {
              justify-content: flex-end;
            }
            &:last-of-type {
              justify-content: flex-start;
            }
          }
          & a {
            display: block;
            margin: 0;
            padding: 0.5rem 1rem;
            position: relative;
            text-decoration: none;

            @media (--sm-n-below) {
              font-size: var(--text-size-02);
              padding: 0.5rem;
            }

            &:link,
            &:visited {
              color: oklch(var(--black-lch));
            }
            &.active {
              color: oklch(var(--white-lch));
            }

            &.posts {
              &.active {
                background-color: oklch(var(--blue-lch));
              }
            }
            &.notes {
              &.active {
                background-color: oklch(var(--purple-lch));
              }
            }
            &.links {
              &.active {
                background-color: oklch(var(--green-lch));
              }
            }

            &.code {
              &.active {
                background-color: oklch(var(--orange-lch));
              }
            }
            &.labs {
              &.active {
                background-color: oklch(var(--red-lch));
              }
            }
            &.events {
              &.active {
                background-color: oklch(var(--brown-lch));
              }
            }
          }
        }
      }
    }
  }

  .hbox-swipe {
    overflow-x: auto;
    width: 100%;
  }

  footer:not(.home) {
    p#copyright {
      & span {
        align-items: center;
        display: flex;
        gap: 1rem;
        &::before {
          background-image: url(/img/adam.webp);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          border: 2px solid oklch(var(--white-lch));
          border-radius: 50%;
          box-shadow: 0 0 5px oklch(var(--black-lch) / 0.5);
          content: '';
          display: block;
          flex: 0 0 4rem;
          height: 4rem;
          width: 4rem;
        }
      }
    }
  }

  @keyframes pulse {
    50% {
      transform: scale(0.9, 0.9);
    }
  }
}
