:root {
  --font-system-ui: system-ui, sans-serif;
  --font-serif: 'Georgia', serif;
  --font-sans-serif: 'Inter', 'Helvetica Neue', 'Roboto', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  --text-size-02: 0.75rem;
  --text-size-01: 0.875rem;
  --text-size-1: 1rem;
  --text-size-2: 1.125rem;
  --text-size-3: 1.25rem;
  --text-size-4: 1.5rem;
  --text-size-5: 1.75rem;
  --text-size-6: 2rem;
  --text-size-7: 2.25rem;
  --text-size-8: 2.625rem;
  --text-size-9: 3rem;
  --text-size-10: 3.375rem;
  --text-size-11: 3.75rem;
  --text-size-12: 4.25rem;
  --text-size-13: 4.75rem;
  --text-size-14: 5.25rem;
  --text-size-15: 5.75rem;

  --radius-1: 0.125rem;
  --radius-2: 0.25rem;
  --radius-3: 0.375rem;
  --radius-4: 0.5rem;
  --radius-5: 0.75rem;
  --radius-6: 1rem;

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-primary: oklch(0% 0 0);
  --color-secondary: oklch(86.53% 0.034 242.73);
  --color-tertiary: transparent;
  --color-danger: oklch(59.91% 0.22 27.28);

  --color-home: oklch(27.36% 0.078 263.12);
  --color-home-a125: oklch(27.36% 0.078 263.12 / 12.5%);
  --color-home-a25: oklch(27.36% 0.078 263.12 / 25%);
  --color-home-a50: oklch(27.36% 0.078 263.12 / 50%);
  --color-home-a75: oklch(27.36% 0.078 263.12 / 75%);

  --color-posts: oklch(51.89% 0.048 175.15);
  --color-posts-a125: oklch(51.89% 0.048 175.15 / 12.5%);
  --color-posts-a25: oklch(51.89% 0.048 175.15 / 25%);
  --color-posts-a50: oklch(51.89% 0.048 175.15 / 50%);

  --color-notes: oklch(58.54% 0.09 78.23);
  --color-notes-a125: oklch(58.54% 0.09 78.23 / 12.5%);
  --color-notes-a25: oklch(58.54% 0.09 78.23 / 25%);
  --color-notes-a50: oklch(58.54% 0.09 78.23 / 50%);

  --color-links: oklch(60.45% 0.092 228.38);
  --color-links-a125: oklch(60.45% 0.092 228.38 / 12.5%);
  --color-links-a25: oklch(60.45% 0.092 228.38 / 25%);
  --color-links-a50: oklch(60.45% 0.092 228.38 / 50%);

  --color-code: oklch(54.19% 0.134 35.43);
  --color-code-a125: oklch(54.19% 0.134 35.43 / 12.5%);
  --color-code-a25: oklch(54.19% 0.134 35.43 / 25%);
  --color-code-a50: oklch(54.19% 0.134 35.43 / 50%);

  --color-labs: oklch(34.8% 0.108 354.76);
  --color-labs-a125: oklch(34.8% 0.108 354.76 / 12.5%);
  --color-labs-a25: oklch(34.8% 0.108 354.76 / 25%);
  --color-labs-a50: oklch(34.8% 0.108 354.76 / 50%);

  --color-events: oklch(70.66% 0.141 122.53);
  --color-events-a125: oklch(70.66% 0.141 122.53 / 12.5%);
  --color-events-a25: oklch(70.66% 0.141 122.53 / 25%);
  --color-events-a50: oklch(70.66% 0.141 122.53 / 50%);

  /* Custom media queries */
  @custom-media --motionOK (prefers-reduced-motion: no-preference);
  @custom-media --motionNotOK (prefers-reduced-motion: reduce);
  @custom-media --opacityOK (prefers-reduced-transparency: no-preference);
  @custom-media --opacityNotOK (prefers-reduced-transparency: reduce);
  @custom-media --useDataOK (prefers-reduced-data: no-preference);
  @custom-media --useDataNotOK (prefers-reduced-data: reduce);

  @custom-media --OSdark (prefers-color-scheme: dark);
  @custom-media --OSlight (prefers-color-scheme: light);

  @custom-media --highContrast (prefers-contrast: more);
  @custom-media --lowContrast (prefers-contrast: less);

  @custom-media --invertedColors (inverted-colors: inverted);
  @custom-media --forcedColors (forced-colors: active);

  @custom-media --portrait (orientation: portrait);
  @custom-media --landscape (orientation: landscape);

  @custom-media --HDcolor (dynamic-range: high) or (color-gamut: p3);

  @custom-media --touch (hover: none) and (pointer: coarse);
  @custom-media --stylus (hover: none) and (pointer: fine);
  @custom-media --pointer (hover) and (pointer: coarse);
  @custom-media --mouse (hover) and (pointer: fine);

  @custom-media --xxs-only (0px <= width < 240px);
  @custom-media --xxs-n-above (width >= 240px);
  @custom-media --xxs-n-below (width < 240px);
  @custom-media --xxs-phone (--xxs-only) and (--portrait);

  @custom-media --xs-only (240px <= width < 360px);
  @custom-media --xs-n-above (width >= 360px);
  @custom-media --xs-n-below (width < 360px);
  @custom-media --xs-phone (--xs-only) and (--portrait);

  @custom-media --sm-only (360px <= width < 480px);
  @custom-media --sm-n-above (width >= 480px);
  @custom-media --sm-n-below (width < 480px);
  @custom-media --sm-phone (--sm-only) and (--portrait);

  @custom-media --md-only (480px <= width < 768px);
  @custom-media --md-n-above (width >= 768px);
  @custom-media --md-n-below (width < 768px);
  @custom-media --md-phone (--md-only) and (--portrait);

  @custom-media --lg-only (768px <= width < 1024px);
  @custom-media --lg-n-above (width >= 1024px);
  @custom-media --lg-n-below (width < 1024px);
  @custom-media --lg-phone (--lg-only) and (--portrait);

  @custom-media --xl-only (1024px <= width < 1440px);
  @custom-media --xl-n-above (width >= 1440px);
  @custom-media --xl-n-below (width < 1440px);

  @custom-media --xxl-only (1440px <= width < 1920px);
  @custom-media --xxl-n-above (width >= 1920px);
  @custom-media --xxl-n-below (width < 1920px);
}
